Source: libnss-tacplus
Priority: optional
Maintainer: Dave Olson <olson@cumulusnetworks.com>
Build-Depends: debhelper (>= 9), autotools-dev, libtac-dev (>= 1.4.1~)
Section: libs
Standards-Version: 3.9.6
Homepage: http://www.cumulusnetworks.com

Package: libnss-tacplus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libtac2 (>= 1.4.1~)
Description: NSS module for TACACS+ authentication without local passwd entry
	Performs getpwname lookups via NSS for users logged in via
	tacacs authentication
